body{
  margin: 0px auto;
  padding: 10px 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
}
header{
  margin-bottom: 10px;
}
.item{
  background-color: rgb(236, 236, 236);
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;

}
.item h4{
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  margin-right: 10px;
}
.item button{
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 5px black;
}

.btnSubmit{
 display: inline-block;
 background-color: rgb(48, 48, 48);
 border: none;
 color: rgb(241, 241, 241);
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding: 10px 10px;
 font-weight: bold;
}
.btnSubmit:hover{
  background-color: rgb(36, 36, 36);
}